<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <title>World Hotel</title>
</head>
<body>
 <nav>
    <div class="nav__logo">World Hotel</div>
    <ul class="nav__links">
      <li class="link"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="link"><a href="{{ url_for('registration') }}">Register</a></li>
      <li class="link"><a href="{{ url_for('login') }}">Login</a></li> 
      <li class="link"><a href="{{ url_for('hotels') }}">Hotels</a></li>     
      <li class="link"><a href="{{ url_for('bookings') }}">Booking</a></li>
      <li class="link"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="link"><a href="{{ url_for('admin') }}">Admin</a></li>
    </ul>
  </nav>
    <h1>Booking Confirmation</h1>
    <p>Thank you for your booking!</p>
    <p>Booking ID: {{ booking_id }}</p>
    <p>Hotel: {{ hotel }}</p>
    <p>Check-in Date: {{ check_in_date }}</p>
    <p>Check-out Date: {{ check_out_date }}</p>
    <p>Room Type: {{ room_type }}</p>
    <p>Email: {{ email }}</p>
    <p>Total Price: {{ total_price }}</p>
    <p>Card Number: {{ card_number }}</p>
    <p>Expiration Date: {{ expiration_date }}</p>
    <p>CVV: {{ cvv }}</p>
    <p>Card Holder Name: {{ card_holder_name }}</p>  
 <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <h3>world hotel</h3>
          <p>
            World hotel is a premier hotel booking website that offers a seamless and
            convenient way to find and book accommodations over the UK.
          </p>
          <p>
            With a user-friendly interface and a vast selection of hotels,
            World hotel aims to provide a stress-free experience for travelers
            seeking the perfect stay.
          </p>
        </div>
        <div class="footer__col">
          <h4>Company</h4>
          <ul>
              <li>About Us</li>
              <li>Our Team</li>
              <li>blog</li>
              <li>Book</li>
              <li>Contact Us</li>  
          </ul>
        </div>
        <div class="footer__col">
          <h4>Legal</h4>
          <li>FAQs</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
        </div>
        <div class="footer__col">
          <h4>Resources</h4>
          <li>Social Media</li>
          <li>Help Center</li>
          <li>Partnerships</li>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2024. All rights reserved.
      </div>
    </footer>
</body>
</html>
