<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <title>World Hotel</title>
  <style>
  .header__image__container {
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(
        to right,
        rgba(44, 56, 85, 0.9),
        rgba(100, 125, 187, 0.1)
      ),
      url("{{ url_for('static', filename='booking_page.jpg') }}");
    background-position: center center;
     background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem; 
  }
</style>
</head>
<body>
 <nav>
    <div class="nav__logo">World Hotel</div>
    <ul class="nav__links">
      <li class="link"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="link"><a href="{{ url_for('registration') }}">Register</a></li>
      <li class="link"><a href="{{ url_for('login') }}">Login</a></li> 
      <li class="link"><a href="{{ url_for('hotels') }}">Hotels</a></li>     
      <li class="link"><a href="{{ url_for('bookings') }}">Booking</a></li>
      <li class="link"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="link"><a href="{{ url_for('admin') }}">Admin</a></li>
    </ul>
  </nav>
  <header class="section__container header__container">
    <div class="header__image__container">
      <div class="header__content">
        <h1>Enjoy Your Dream Vacation</h1>
        <p>Book Hotels, Flights and stay packages at lowest price.</p>
      </div>
    </div>
  </header>
  <section class="section__container popular__container">
    <h2 class="section__header">Popular Hotels</h2>
    <div class="popular__grid">
      <div class="popular__card">
        <img src="{{ url_for('static', filename='hotelEB.jpg') }}" alt="The Plaza Hotel, Edinburgh" />
        <div class="popular__content">
          <div class="popular__card__header">
            <h4>The Plaza Hotel</h4>
          </div>
          <p>Edinburgh</p>
        </div>
      </div>
    <div class="popular__card">
    <img src="{{ url_for('static', filename='hotelB.jpg') }}" alt="Bristol color hotel" />
      <div class="popular__content">
        <div class="popular__card__header">
          <h4>Bristol color hotel</h4>
        </div>
        <p>Birstol</p>
      </div>
    </div>
    <div class="popular__card">
    <img src="{{ url_for('static', filename='hotelL.jpg') }}" alt="The Peninsula" />
      <div class="popular__content">
        <div class="popular__card__header">
          <h4>The Peninsula</h4>
        </div>
        <p>London</p>
      </div>
    </div>
    <div class="popular__card">
      <img src="{{ url_for('static', filename='hotelS.jpg') }}" alt="Atlantis The Palm" />
      <div class="popular__content">
        <div class="popular__card__header">
          <h4>Atlantis The Palm</h4>
        </div>
        <p>Swansea</p>
      </div>
    </div>
    <div class="popular__card">
      <img src="{{ url_for('static', filename='hotelGI.jpg') }}" alt="The Ritz-Carlton" />
      <div class="popular__content">
        <div class="popular__card__header">
          <h4>The Ritz-Carlton</h4>
        </div>
          <p>Glasgow</p>
        </div>
      </div>
      <div class="popular__card">
        <img src="{{ url_for('static', filename='hotelNC.jpg') }}" alt="Marina Bay Sands" />
        <div class="popular__content">
          <div class="popular__card__header">
            <h4>Marina Bay Sands</h4>
          </div>
          <p>New castle</p>
        </div>
      </div>
    </div>
  </section>
  <section class="client">
    <div class="section__container client__container">
      <h2 class="section__header">What our client say</h2>
      <div class="client__grid">
        <div class="client__card">
          <img src="{{ url_for('static', filename='client-1.jpg') }}" alt="Client 1" />
          <p>
            The booking process was seamless, and the confirmation was instant. I highly recommend World hotel for hassle-free hotel bookings.
          </p>
        </div>
          <div class="client__card">
          <img src="{{ url_for('static', filename='client-2.jpg') }}" alt="Client 2" />
            <p>
              The website provided detailed information about hotel, including
              amenities, photos, which helped me make an informed decision.
            </p>
          </div>
                    <div class="client__card">
          <img src="{{ url_for('static', filename='client-3.jpg') }}" alt="Client 3" />
            <p>
              I was able to book a room within minutes, and the hotel exceeded
              my expectations. I appreciate World hotel efficiency and reliability.
            </p>
          </div>
      </div>
    </div>
  </section>
  <section class="section__container">
    <div class="reward__container">
      <p>100+ discount codes</p>
      <h4>Earn rewards and grab early bird discounts book now!</h4>
      <button class="reward__btn link"><a href="{{ url_for('bookings') }}">Join Rewards</a></button>
    </div>
  </section>
  <footer class="footer">
    <div class="section__container footer__container">
      <div class="footer__col">
        <h3>world hotel</h3>
        <p>
          World hotel is a premier hotel booking website that offers a seamless and convenient way to find and book accommodations over the UK.
        </p>
        <p>
          With a user-friendly interface and a vast selection of hotels, World hotel aims to provide a stress-free experience for travelers seeking the perfect stay.
        </p>
      </div>
      <div class="footer__col">
        <h4>Company</h4>
        <ul>
          <li>About Us</li>
          <li>Our Team</li>
          <li>Blog</li>
          <li>Book</li>
          <li>Contact Us</li>  
        </ul>
      </div>
      <div class="footer__col">
        <h4>Legal</h4>
        <li>FAQs</li>
        <li>Terms & Conditions</li>
        <li>Privacy Policy</li>
      </div>
      <div class="footer__col">
        <h4>Resources</h4>
        <li>Social Media</li>
        <li>Help Center</li>
        <li>Partnerships</li>
      </div>
    </div>
    <div class="footer__bar">
      Copyright © 2024. All rights reserved.
    </div>
  </footer>
</body>
</html>
